* {
    padding: 0;
    margin: 0;
}

.charector {
    width: 151px;
    height: 291px;
    background: url(http://img.mukewang.com/55ade248000198ae10550582.png) -0px -291px no-repeat;
    position: absolute;
    /* 设置一个元素的坐标 */
    left: 45%;
    top: 35%;
}

/*普通慢走*/
.slowWalk {
  /* 使用名称为person-slow的@keyframes */ 
  -webkit-animation-name: person-slow;
	/* 动画完成一个周期所花费的时间 */
	-webkit-animation-duration: 1000ms;
	/* 循环播放 */
	-webkit-animation-iteration-count: infinite;
	/* 不要平滑过渡，要分步过渡 */
	-webkit-animation-timing-function: steps(1, start);

	-moz-animation-name: person-slow;
	-moz-animation-duration: 1000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: steps(1, start);
}	

/* 普通慢走 */

@-webkit-keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}

@-moz-keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}
