
/*头部*/
.svip-header {
	
}
.svip-nav {
	height: 80px;
	background-image:url(http://file.do.yy.com/group3/M03/5C/25/tz0GSFXMSvWARU0NAAABDwmQ9pM650.png);
	background-repeat: repeat-x; 
}
.nav-main {
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}
.logo {
	width: 180px;
	height:80px;
	display: block;
	img {
		width: 100%;
		height: 100%;
	}
}
.menu-box {
	font-size: 18px;
	color: #e0e0e0;
	margin-left: 120px;
}
.menu-ul {
	
	li {
		float: left;
		padding: 0 15px;
		a {
			color: #e0e0e0;
			display: block;
			height:80px;
			line-height: 80px;
			padding: 0 7px;
		}

	}
	.curr {	
		a {
			color: #cdad5e;
			height:77px;
			line-height: 77px;
			border-bottom: #cdad5e solid 3px;
		}
	}
}
.top-login {
	height:80px;
	line-height: 80px;
	span {
		color: #e0e0e0;
	}
	a {
		color: #cdad5e;
		margin-left: 10px
	}
}
