@import './_var.styl'; 

.circle-big {
	width:100px;
	height:100px;
	background-image: url($circle);
	background-repeat: no-repeat;
}

/*V卡 100px*100px*/
.big-circle-01 {
	background-position: 0 0;
	@extend .circle-big
}
/*V卡 灰 100px*100px*/
.gray-big-circle-01 {
	background-position: -130px 0;
	@extend .circle-big
} 

/*YY积分 100px*100px*/
.big-circle-02 {
	background-position: 0 -130px;
	@extend .circle-big
}
/*YY积分 灰 100px*100px*/
.gray-big-circle-02 {
	background-position: -130px -130px;
	@extend .circle-big
} 


/*YY靓号 100px*100px*/
.big-circle-03 {
	background-position: 0 -260px;
	@extend .circle-big
}
/*YY靓号 灰 100px*100px*/
.gray-big-circle-03 {
	background-position: -130px -260px;
	@extend .circle-big
} 

/*成长值 100px*100px*/
.big-circle-04 {
	background-position: 0 -390px;
	@extend .circle-big
}
/*成长值 灰 100px*100px*/
.gray-big-circle-04 {
	background-position: -130px -390px;
	@extend .circle-big
} 

/*豪图标 100px*100px*/
.big-circle-05 {
	background-position: 0 -520px;
	@extend .circle-big
}
/*豪图标 灰 100px*100px*/
.gray-big-circle-05 {
	background-position: -130px -520px;
	@extend .circle-big
}

/*靓图标 100px*100px*/
.big-circle-06 {
	background-position: 0 -650px;
	@extend .circle-big
}
/*靓图标 灰 100px*100px*/
.gray-big-circle-06 {
	background-position: -130px -650px;
	@extend .circle-big
}

/*频道靓号 100px*100px*/
.big-circle-07 {
	background-position: 0 -780px;
	@extend .circle-big
}
/*频道靓号 灰 100px*100px*/
.gray-big-circle-07 {
	background-position: -130px -780px;
	@extend .circle-big
} 

/*全频紫名 100px*100px*/
.big-circle-08 {
	background-position: 0 -910px;
	@extend .circle-big
}
/*全频紫名 灰 100px*100px*/
.gray-big-circle-08 {
	background-position: -130px -910px;
	@extend .circle-big
} 

/*群靓号 100px*100px*/
.big-circle-09 {
	background-position: 0 -1040px;
	@extend .circle-big
}
/*群靓号 灰 100px*100px*/
.gray-big-circle-09 {
	background-position: -130px -1040px;
	@extend .circle-big
} 

/*至尊紫V 100px*100px*/
.big-circle-10 {
	background-position: 0 -1170px;
	@extend .circle-big
}
/*至尊紫V 灰 100px*100px*/
.gray-big-circle-10 {
	background-position: -130px -1170px;
	@extend .circle-big
}

/*置顶卡 100px*100px*/
.big-circle-11 {
	background-position: 0 -1300px;
	@extend .circle-big
}
/*置顶卡 灰 100px*100px*/
.gray-big-circle-11 {
	background-position: -130px -1300px;
	@extend .circle-big
}


.circle-few {
	width:65px;
	height:65px;
	background-image: url($circle);
	background-repeat: no-repeat;
}

/*V卡 65px*65px*/
.few-circle-01 {
	background-position: -260px 0;
	@extend .circle-few
}
/*V卡 灰 65px*65px*/
.gray-few-circle-01 {
	background-position: -360px 0;
	@extend .circle-few
} 

/*YY积分 65px*65px*/
.few-circle-02 {
	background-position: -260px -130px;
	@extend .circle-few
}
/*YY积分 灰 65px*65px*/
.gray-few-circle-02 {
	background-position: -360px -130px;
	@extend .circle-few
} 

/*YY靓号 65px*65px*/
.few-circle-03 {
	background-position: -260px -260px;
	@extend .circle-few
}
/*YY靓号 灰 65px*65px*/
.gray-few-circle-03 {
	background-position: -360px -130px;
	@extend .circle-few
} 

/*成长值 65px*65px*/
.few-circle-04 {
	background-position: -260px -390px;
	@extend .circle-few
}
/*成长值 灰 65px*65px*/
.gray-few-circle-04 {
	background-position: -360px -390px;
	@extend .circle-few
} 

/*豪图标 65px*65px*/
.few-circle-05 {
	background-position: -260px -520px;
	@extend .circle-few
}
/*豪图标 灰 65px*65px*/
.gray-few-circle-05 {
	background-position: -360px -520px;
	@extend .circle-few
}

/*靓图标 65px*65px*/
.few-circle-06 {
	background-position: -260px -650px;
	@extend .circle-few
}
/*靓图标 灰 65px*65px*/
.gray-few-circle-06 {
	background-position: -360px -650px;
	@extend .circle-few
}

/*频道靓号 65px*65px*/
.few-circle-07 {
	background-position: -260px -780px;
	@extend .circle-few
}
/*频道靓号 灰 65px*65px*/
.gray-few-circle-07 {
	background-position: -360px -780px;
	@extend .circle-few
} 

/*全频紫名 65px*65px*/
.few-circle-08 {
	background-position: -260px -910px;
	@extend .circle-few
}
/*全频紫名 灰 65px*65px*/
.gray-few-circle-08 {
	background-position: -360px -910px;
	@extend .circle-few
} 

/*群靓号 65px*65px*/
.few-circle-09 {
	background-position: -260px -1040px;
	@extend .circle-few
}
/*群靓号 灰 65px*65px*/
.gray-few-circle-09 {
	background-position: -360px -1040px;
	@extend .circle-few
} 

/*至尊紫V 65px*65px*/
.few-circle-10 {
	background-position: -260px -1170px;
	@extend .circle-few
}
/*至尊紫V 灰 65px*65px*/
.gray-few-circle-10 {
	background-position: -360px -1170px;
	@extend .circle-few
}

/*置顶卡 65px*65px*/
.few-circle-11 {
	background-position: -260px -1300px;
	@extend .circle-few
}
/*置顶卡 灰 65px*65px*/
.gray-few-circle-11 {
	background-position: -360px -1300px;
	@extend .circle-few
}