/*小图标集*/
/* $icon='http://file.do.yy.com/group3/M03/78/66/tz0MYFXlDj2AO9_NAAB1KVAaN28073.png'; */
$icon='http://file.do.yy.com/group3/M03/80/D1/tz0GSFXmYRGATefpAAAZZjWKOJs830.png';

/*svip特权圆形图标集*/
/* $circle='http://file.do.yy.com/group3/M00/82/AD/tz0GSFXmrcGAJnpvAABrNGVULSg185.png'; */
$circle='http://file.do.yy.com/group3/M03/B8/F0/tz0GSFXvqiaAPjrWAAFKJkP28go634.png';

/*svip身份象征展示卡*/
$card='http://file.do.yy.com/group3/M02/5C/31/tz0MYFXVP9mAUF31AAFviI3hueM309.png';

/*选项卡渐变背景图片 height:48px*/
$tabBg='http://file.do.yy.com/group3/M03/5C/3B/tz0MYFXa1u2Aa0sjAAABKUl-LlU005.png';

/*表头渐变背景图片 height:40px*/
$thBg='http://file.do.yy.com/group3/M04/5C/43/tz0GSFXdH56AIlD1AAAA3dsFUEY447.png';

/*按钮图标*/
/* $button_url = 'http://file.do.yy.com/group3/M04/5C/44/tz0GSFXdfmeAAG0PAACkYM7vjKY246.png' */
$button_url = 'http://file.do.yy.com/group3/M02/80/DA/tz0GSFXmYpOAWA_xAAAD1yhy1XQ202.png'
$button_color = #82570a
$button_disable_color = #999

/*登录模块图标集*/
$login='http://file.do.yy.com/group3/M00/80/CE/tz0MYFXmYU6AZtzFAADVlaROFUI649.png';

