@charset "UTF-8";
/*全局样式*/
*{margin:0; padding:0;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,var,i{font-style:normal; font-weight:normal;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
input,textarea {outline:none;resize:none;}
pre,p{ white-space: -webkit-pre-wrap;white-space: -moz-pre-wrap; white-space: pre-wrap; word-wrap: break-word;}
a{text-decoration:none;}
a:hover{ }
body {font-size:12px;font-family:"Microsoft Yahei";color:#666;background-color: #f3f3f3}


@import './_var.styl';
@import './_common.styl';
@import './_header.styl';
@import './_footer.styl';
@import './_login.styl';
@import './_ui-datepicker.styl';